<?xml version="1.0" encoding="UTF-8"?>
<!--

    This file is part of proyecto-gi.

    proyecto-gi is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    proyecto-gi is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with proyecto-gi.  If not, see <http://www.gnu.org/licenses/>.

-->
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 
		<expression-handler ref="expressionHandler" />
	</global-method-security>  -->
	
	<global-method-security pre-post-annotations="enabled"/> 

	<!-- Excluir resources (como css)de SpringSecurity   -->
	<http pattern="/resources/**" security="none" />
	<http pattern="/webjars/**" security="none" />
	
	

	 <http auto-config="true" use-expressions="true">
	<!-- <http auto-config="true" create-session="always"> -->
		<!-- Requisito de acceso a cada URL -->
		<intercept-url pattern="/loginError" access="permitAll" />
		<intercept-url pattern="/doLogin" access="permitAll" />
		<intercept-url pattern="/logout" access="isAuthenticated()" />
		<intercept-url pattern="/doLogout" access="isAuthenticated()" />
		<intercept-url pattern="/menu" access="isAuthenticated()" />
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/addPago" access="permitAll" />
		<intercept-url pattern="/registroCompleto" access="permitAll" />
		<intercept-url pattern="/usuarios" access="isAuthenticated()" />
		<intercept-url pattern="/pagos" access="isAuthenticated()" />
		<intercept-url pattern="/home" access="permitAll" />
		<intercept-url pattern="/pruebas" access="permitAll" />
		<intercept-url pattern="/viajes" access="permitAll" />
		<intercept-url pattern="/inventarios" access="permitAll" />
		
		<headers>
			<frame-options policy="SAMEORIGIN"/>		
		</headers>	
		
		
		<!-- <intercept-url pattern="/bienvenido" access="hasRole('ROLE_ADMIN')" /> -->
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
		
		
		
		<!-- /doLogin y /doLogout son propias de SpringSecurity -->
		<form-login login-processing-url="/doLogin" login-page="/"
			username-parameter="username" password-parameter="password"
			default-target-url="/inicio" authentication-failure-url="/loginError?auth=error" />
			<!-- Si hay error al hacer login mapea "/loginError" desde el Controller. A partir de aqui es variable "?auth=error" -->
		<logout logout-url="/doLogout" logout-success-url="/"  />				
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="userManager">
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
	</authentication-manager>
	
		<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	</beans:bean>

	
</beans:beans>
	
	<!-- 
	<beans:bean id="expressionHandler"
		class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
		
		<beans:property name="permissionEvaluator" ref="permissionEvaluator" />
		<beans:property name="roleHierarchy" ref="roleHierarchy" />
	</beans:bean>
	
	<beans:bean id="roleVoter"
		class="org.springframework.security.access.vote.RoleHierarchyVoter">
		<beans:constructor-arg ref="roleHierarchy" />
	</beans:bean>
	<beans:bean id="roleHierarchy"
		class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
		<beans:property name="hierarchy">
			<beans:value>
				ROLE_ADMIN > ROLE_GESTOR
				ROLE_GESTOR > ROLE_INVESTIGADOR
				ROLE_INVESTIGADOR > ROLE_USER
			</beans:value>
		</beans:property>
	</beans:bean>
	 -->
