<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
		xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<global-method-security pre-post-annotations="enabled" />

	<!-- Excluir resources (como css)de SpringSecurity   -->
	<http pattern="/resources/**" security="none" />

	 <http auto-config="true" use-expressions="true">
	<!-- <http auto-config="true" create-session="always"> -->
		<!-- Requisito de acceso a cada URL -->
		<intercept-url pattern="/loginError" access="permitAll" />
		<intercept-url pattern="/doLogin" access="permitAll" />
		<intercept-url pattern="/logout" access="isAuthenticated()" />
		<intercept-url pattern="/doLogout" access="isAuthenticated()" />
		<intercept-url pattern="/bienvenido" access="isAuthenticated()" />
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/addPago" access="permitAll" />
		<intercept-url pattern="/registroCompleto" access="permitAll" />
		<intercept-url pattern="/usuarios" access="isAuthenticated()" />
		<intercept-url pattern="/pagos" access="isAuthenticated()" />
		<intercept-url pattern="/home" access="permitAll" />
		<intercept-url pattern="/pruebas" access="permitAll" />
		
		
		
		
	
		<intercept-url pattern="/bienvenido" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
		
		
		
		<!-- /doLogin y /doLogout son propias de SpringSecurity -->
		<form-login login-processing-url="/doLogin" login-page="/"
			username-parameter="username" password-parameter="password"
			default-target-url="/bienvenido" authentication-failure-url="/loginError?auth=error" />
			<!-- Si hay error al hacer login mapea "/loginError" desde el Controller. A partir de aqui es variable "?auth=error" -->
		<logout logout-url="/doLogout" logout-success-url="/"  />				
	</http>


	 <!--  	 
	<authentication-manager>
		<authentication-provider>
		<user-service>
			<user name="rico" password="rico" authorities="ROLE_USER" />
			<user name="bob" password="bobspassword" authorities="ROLE_USER" />
		</user-service>			
		</authentication-provider>
	</authentication-manager>
	
	 -->
	
	<authentication-manager>
		<authentication-provider user-service-ref="userManager">
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
	</authentication-manager>
	
	
	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	</beans:bean>
</beans:beans>