<!--

    This file is part of proyecto-gi.

    proyecto-gi is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    proyecto-gi is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with proyecto-gi.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<div th:include="menus"></div>
<div id="page-wrapper">
	<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header" th:text="|${modoTitulo} Departamento|"></h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title">Datos Departamento</p>
		</div>
		<div class="panel-body">
			<form class="form-horizontal"  role="form" action="#" th:action="@{${modo}}" 
				th:object="${nuevoDepartamento}" method="POST">
			
					<div class="form-group"
						th:classappend="${#fields.hasErrors('nombre')} ? has-error">
						<label class="control-label col-md-2" for="referencia">Nombre:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" placeholder="nombre"
								type="text" th:field="*{nombre}" />
								<span class="help-block" th:errors="*{nombre}">[errors]</span>
						</div>
					</div>

				
					<div class="form-group">
						<label class="control-label col-md-2" for="director">
							Director:</label>
							<div class="col-md-10">
								<select class="form-control col-md-10" th:field="*{director}">
								<option th:each="director : ${directores}"
									th:value="${director.id}" th:text="|${director.nombre} ${director.apellidos}|">Directores</option>
								</select>
							</div>
					</div>
					
					
					

					<button type="submit" class="btn btn-lg btn-success btn-block" th:text="${modoTitulo}" ></button>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</form>
		</div>
	</div>
	</div>
<div th:include="scripts"></div>
</body>
</html>