<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<div th:include="menus"></div>
<div id="page-wrapper">
<div class="row">
<div class="col-lg-12">
					<h1 class="page-header">Orden de Pago</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="panel-title">Introduzca valores Pago</p>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" action="#" th:action="@{'/proyecto/{idProyecto}/pagos'  (idProyecto=*{proyecto.id})}"
						th:object="${pago}" method="POST">
						<div class="form-group" th:classappend="${#fields.hasErrors('fecha')} ? has-error">
						 <label class="control-label col-md-2" for="fecha">Fecha:</label>
							 <div class="col-md-10">
								<input class="form-control" th:field="*{fecha}" type="date" />
								<span class="help-block" th:errors="*{fecha}">[errors]</span>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('numOrden')} ? has-error">
						<label class="control-label col-md-2" for="numOrden">Num Orden:</label>
							<div class="col-md-10">
							<input class="form-control" th:field="*{numOrden}" type="text" />
							<span class="help-block" th:errors="*{numOrden}">[errors]</span>
							</div>
						</div>
						<div class="form-group">
						<label class="control-label col-md-2" for="proyecto.numContabilidad">Contabilidad:</label>
							<div class="col-md-10">
							<input class="form-control" type="text" th:field="*{proyecto.numContabilidad}" readonly="readonly" />
							</div>
						</div>
						<div class="form-group">
						<label class="control-label col-md-2" for="proyecto.titulo">Título:</label>
						<div class="col-md-10">
							<input class="form-control" type="text"  th:field="*{proyecto.titulo}" readonly="readonly" />
						</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<p class="panel-title">Datos Investigador Principal</p>
							</div>
							<div class="panel-body">
								<div class="form-group">
								<label class="control-label col-md-2" for="user.nombre">Nombre:</label>
								<div class="col-md-10">
									<input class="form-control" type="text"
										th:field="${user.nombre}" readonly="readonly" />
										</div>
								</div>
								<div class="form-group">
								<label class="control-label col-md-2" for="user.apellidos">Apellidos:</label>
								<div class="col-md-10">
									<input class="form-control" type="text"
										th:field="${user.apellidos}" readonly="readonly" />
										</div>
								</div>
								<div class="form-group">
								<label class="control-label col-md-2" for="user.telefono">Teléfono:</label>
								<div class="col-md-10">
									<input class="form-control" type="text"
										th:field="${user.telefono}" readonly="readonly" />
										</div>
								</div>
								<div class="form-group">
								<label class="control-label col-md-2" for="proyecto.investigadorPrincipal.departamento">Departamento:</label>
								<div class="col-md-10">
									<input class="form-control" type="text"
										th:value="*{proyecto.investigadorPrincipal.departamento}" readonly="readonly" />
								</div>
								</div>
								<div class="form-group">
								<label class="control-label col-md-2" for="proyecto.investigadorPrincipal.centro">Centro:</label>
								<div class="col-md-10">
									<input class="form-control" type="text"
										th:value="*{proyecto.investigadorPrincipal.centro}"
										readonly="readonly" />
								</div>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<p class="panel-title">Gastos</p>
							</div>
							<div class="panel-body">
								<table class="table table-bordered ">
								<thead>
								<tr>
								<th class="col-md-2 text-center">Nº Factura</th>
								<th class="col-md-6 text-center">Proveedor,concepto y partida presupuestaria</th>
								<th class="col-md-2 text-center">Importe</th>
								<th class="col-md-1 text-center">+</th>	
								<th class="col-md-1 text-center">-</th>	
								</tr>
								</thead>
									<tbody id="gastos">
										
										<tr id="gasto0" th:each="gasto,gastoStat : *{gastos}">
											
											<td class="col-md-2" th:classappend="${#fields.hasErrors('gastos[__${gastoStat.index}__].numFactura')} ? has-error">	
												<input type="text" class="form-control"  
													th:field="*{gastos[__${gastoStat.index}__].numFactura}" />
													<span class="help-block" th:errors="*{gastos[__${gastoStat.index}__].numFactura}">[errors]</span>									
												
											</td>
											
											<td class="col-md-8" th:classappend="${#fields.hasErrors('gastos[__${gastoStat.index}__].proveedor')} ? has-error">
												<input type="text"
													class="form-control" 
													th:field="*{gastos[__${gastoStat.index}__].proveedor}" />
												<span class="help-block" th:errors="*{gastos[__${gastoStat.index}__].proveedor}">[errors]</span>
											</td>
											<td class="col-md-2"th:classappend="${#fields.hasErrors('gastos[__${gastoStat.index}__].importe')} ? has-error">
												<input type="text"
													class="form-control" 
													th:field="*{gastos[__${gastoStat.index}__].importe}" />
												<span class="help-block" th:errors="*{gastos[__${gastoStat.index}__].importe}">[errors]</span>
											</td>
											
											<td class="col-md-2">
												<button onclick="appendText()" class="btn btn-success"
													type="button" id="btnMas0" >+</button>
											</td>
											<td class="col-md-2">
												<button id="btnMenos0" onclick="removeText(this.id)" class="btn btn-danger form-control"
													type="button" >-</button>
											</td>

										</tr>
																			</tbody>

								</table>
								
							</div>
						</div>
				
							<div class="row">
								<div class="col-md-6">
									<div class="panel panel-default">
										<div class="panel-heading">
											<p class="panel-title">PAGAR A:</p>
										</div>
										<div class="panel-body">
										<div class="form-group" th:classappend="${#fields.hasErrors('pagador')} ? has-error">
										<label class="control-label col-md-2" for="pagador">Pagar a:</label>
										<div class="col-md-10">
											<input class="form-control" type="text" th:field="*{pagador}" />
											<span class="help-block" th:errors="*{pagador}">[errors]</span>
										</div>
										</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="panel panel-default">
										<div class="panel-heading">
											<p class="panel-title">DATOS BANCARIOS</p>
										</div>
										<div class="panel-body">
											<div class="form-group" th:classappend="${#fields.hasErrors('iban')} ? has-error">
											<label class="control-label col-md-2" for="iban">IBAN:</label>
											<div class="col-md-10">
												<input class="form-control" type="text" th:field="*{iban}" />
												<span class="help-block" th:errors="*{iban}">[errors]</span>
											</div>
											</div>
											<div class="form-group" th:classappend="${#fields.hasErrors('bic')} ? has-error">
											<label class="control-label col-md-2" for="bic">BIC:</label>
											<div class="col-md-10">
												<input class="form-control"  type="text" th:field="*{bic}" />
												<span class="help-block" th:errors="*{bic}">[errors]</span>
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
										<div class="panel-heading">
											<p class="panel-title">MEMORIA EXPLICATIVA DE LOS GASTOS</p>
										</div>
										<div class="panel-body" th:classappend="${#fields.hasErrors('memoria')} ? has-error">
											<textarea class="form-control" rows="3" th:field="*{memoria}"> </textarea>
											<span class="help-block" th:errors="*{memoria}">[errors]</span>
										</div>
							</div>
							<div class="panel panel-default">
										<div class="panel-heading">
											<p class="panel-title">RELACIÓN CON EL PROYECTO</p>
										</div>
										<div class="panel-body" th:classappend="${#fields.hasErrors('relacion')} ? has-error">
											<textarea  class="form-control" rows="3" th:field="*{relacion}"></textarea>
											<span class="help-block" th:errors="*{relacion}">[errors]</span>
										</div>
							</div>
			
						<br></br>
					
						<!-- Change this to a button or input when using this as a form -->
						<input type="submit" class="btn btn-lg btn-success btn-block"
							value="Add Pago" /> <input type="hidden"
							th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					</form>
				</div>
			</div>
</div>

<div th:include="scripts"></div>

<script>
	function appendText() {
		// Create text with DOM

		var count = $('#gastos tr').length;
		var nuevoGasto = $('<tr></tr>');
		var auxnumFactura = $('<td class="col-md-2"></td>');
		var auxconcepto = $('<td class="col-md-8"></td>');
		var auximporte = $('<td class="col-md-2"></td>');
		//botones
		var auxbtnMas = $('<td class="col-md-2"></td>');
		var auxbtnMenos = $('<td class="col-md-2"></td>');

		var numFactura = $(
				'<input type="text" class="form-control col-md-2" />').attr('name', 'gastos[' + count + '].numFactura');
		var concepto = $(
				'<input type="text" class="form-control"  />').attr('name', 'gastos[' + count + '].proveedor');
		var importe = $(
				'<input type="text" class="form-control col-md-2"/> ').attr('name', 'gastos[' + count + '].importe');
		
		var btnMas = $('<button onclick="appendText()" class="btn btn-success"	type="button">+</button>').attr('id', 'btnMas' + count );
			
		var btnMenos = $('<button onclick="removeText(this.id)" class="btn btn-danger form-control" type="button">-</button>').attr('id', 'btnMenos' + count );
		

		$(auxnumFactura).append(numFactura);
		$(auxconcepto).append(concepto);
		$(auximporte).append(importe);
		
		//botones
		$(auxbtnMas).append(btnMas);
		$(auxbtnMenos).append(btnMenos);
		

		$(nuevoGasto).append(auxnumFactura);
		$(nuevoGasto).append(auxconcepto);
		$(nuevoGasto).append(auximporte);
		
		//botones
		$(nuevoGasto).append(auxbtnMas);
		$(nuevoGasto).append(auxbtnMenos);
		
		//idNuevo
		$(nuevoGasto).attr('id', 'gasto' + count);
		
		$('#gastos').append(nuevoGasto);
	}
</script>

<script>
function removeText(idBotonMenos) {
	
	var totalGastos = $('#gastos tr').length;	
	
	//La posicion 8 del id guarda el numero de gasto
	var numGasto = idBotonMenos.charAt(8);
	
	//Se pasa a numero
	var posCambio = Number(numGasto) + 1; 
	
	//Elimino tr
	$('#gasto'+numGasto).remove();
	
	//Si eliminamos todos los tr tiene que mostrarse uno al menos.
	if ($('#gastos tr').length == 0){
		this.appendText();
	}	

	//A partir del tr eliminado, renombro names e ids
	for (posCambio; posCambio < totalGastos; posCambio++){ 
		
		//Disminuye en uno el name
		document.getElementsByName('gastos['+posCambio+'].numFactura')[0].setAttribute('name','gastos['+(posCambio-1)+'].numFactura');
		document.getElementsByName('gastos['+posCambio+'].proveedor')[0].setAttribute('name','gastos['+(posCambio-1)+'].proveedor');
		document.getElementsByName('gastos['+posCambio+'].importe')[0].setAttribute('name','gastos['+(posCambio-1)+'].importe');
		
		//Disminuye en uno el id de los botones
		document.getElementById('btnMas'+posCambio).setAttribute('id','btnMas'+(posCambio-1));
		document.getElementById('btnMenos'+posCambio).setAttribute('id','btnMenos'+(posCambio-1));
		
		//Disminuye en uno el id del tr
		document.getElementById('gasto'+posCambio).setAttribute('id','gasto'+(posCambio-1));				
	}	
}
</script>

</body>
</html>



