<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<script>
	function appendText() {
		// Create text with DOM

		var count = $('#gastos tr').length;
		var nuevoGasto = $('<tr></tr>');
		var auxnumFactura = $('<td class="col-md-2"></td>');
		var auxconcepto = $('<td class="col-md-8"></td>');
		var auximporte = $('<td class="col-md-2"></td>');
		//botones
		var auxbtnMas = $('<td class="col-md-2"></td>');
		var auxbtnMenos = $('<td class="col-md-2"></td>');

		var numFactura = $(
				'<input type="text" placeholder="Nº Factura" class="form-control col-md-2" />').attr('name', 'gastos[' + count + '].numFactura');
		var concepto = $(
				'<input type="text" placeholder="Proveedor,concepto y partida presupuestaria" class="form-control"  />').attr('name', 'gastos[' + count + '].proveedor');
		var importe = $(
				'<input type="text" placeholder="Importe" class="form-control col-md-2"/> ').attr('name', 'gastos[' + count + '].importe');
		
		var btnMas = $('<button onclick="appendText()" class="btn btn-success"	type="button">+</button>').attr('id', 'btnMas' + count );
			
		var btnMenos = $('<button onclick="removeText(this.id)" class="btn btn-success" type="button">-</button>').attr('id', 'btnMenos' + count );
		

		$(auxnumFactura).append(numFactura);
		$(auxconcepto).append(concepto);
		$(auximporte).append(importe);
		
		//botones
		$(auxbtnMas).append(btnMas);
		$(auxbtnMenos).append(btnMenos);
		

		$(nuevoGasto).append(auxnumFactura);
		$(nuevoGasto).append(auxconcepto);
		$(nuevoGasto).append(auximporte);
		
		//botones
		$(nuevoGasto).append(auxbtnMas);
		$(nuevoGasto).append(auxbtnMenos);
		
		//idNuevo
		$(nuevoGasto).attr('id', 'gasto' + count);
		
		$('#gastos').append(nuevoGasto);
	}
</script>

<script>
function removeText(idBotonMenos) {
	
	var totalGastos = $('#gastos tr').length;	
	
	//La posicion 8 del id guarda el numero de gasto
	var numGasto = idBotonMenos.charAt(8);
	
	//Se pasa a numero
	var posCambio = Number(numGasto) + 1; 
	
	//Elimino tr
	$('#gasto'+numGasto).remove();

	//A partir del tr eliminado, renombro names e ids
	for (posCambio; posCambio < totalGastos; posCambio++){ 
		
		//Disminuye en uno el name
		document.getElementsByName('gastos['+posCambio+'].numFactura')[0].setAttribute('name','gastos['+(posCambio-1)+'].numFactura');
		document.getElementsByName('gastos['+posCambio+'].proveedor')[0].setAttribute('name','gastos['+(posCambio-1)+'].proveedor');
		document.getElementsByName('gastos['+posCambio+'].importe')[0].setAttribute('name','gastos['+(posCambio-1)+'].importe');
		
		//Disminuye en uno el id de los botones
		document.getElementById('btnMas'+posCambio).setAttribute('id','btnMas'+(posCambio-1));
		document.getElementById('btnMenos'+posCambio).setAttribute('id','btnMenos'+(posCambio-1));
		
		//Disminuye en uno el id del tr
		document.getElementById('gasto'+posCambio).setAttribute('id','gasto'+(posCambio-1));		
		
	}
		

}
</script>



<title>PAGOS</title>
</head>

<body class="container">

	<div class="row">
		<div class="col-md-12 col-md-offset-1">
			<h1>Orden de Pago</h1>
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="panel-title">Introduzca valores Pago</p>
				</div>
				<div class="panel-body">
					<form role="form" action="#"
						th:action="@{'/proyecto/{idProyecto}/pagos'  (idProyecto=*{proyecto.id})}"
						th:object="${pago}" method="POST">
						<div class="form-group">
							<input class="form-control"
								th:value="${pago.fecha}" name="fecha" type="date" />
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="NumOrden"
								name="numOrden" type="text" />
						</div>
						<div class="form-group">
							<input class="form-control" name="numContabilidad" type="text"
								th:value="*{proyecto.numContabilidad}" readonly="readonly" />
						</div>
						<div class="form-group">
							<input class="form-control" name="proyecto" type="text"
								th:value="${pago.proyecto.titulo}" readonly="readonly" />
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<p class="panel-title">Datos Investigador Principal</p>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<input class="form-control" placeholder="Nombre" type="text"
										th:value="${user.nombre}" readonly="readonly" />
								</div>
								<div class="form-group">
									<input class="form-control" placeholder="Apellidos" type="text"
										th:value="${user.apellidos}" readonly="readonly" />
								</div>
								<div class="form-group">
									<input class="form-control" placeholder="Teléfono" type="text"
										th:value="${user.telefono}" readonly="readonly" />
								</div>
								<div class="form-group">
									<input class="form-control" placeholder="Departamento" type="text"
										th:value="${pago.proyecto.investigadorPrincipal.departamento}"
										readonly="readonly" />
								</div>
								<div class="form-group">
									<input class="form-control" placeholder="Centro" type="text"
										th:value="${pago.proyecto.investigadorPrincipal.centro}"
										readonly="readonly" />
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<p class="panel-title">Gastos</p>
							</div>
							<div class="panel-body">
								<table>
									<tbody id="gastos">
										<tr id="gasto0" th:each="gasto,gastoStat : *{gastos}">
											<td class="col-md-2"><input type="text"
												class="form-control" placeholder="Nº Factura"
												th:field="*{gastos[__${gastoStat.index}__].numFactura}" /></td>
											<td class="col-md-8"><input type="text"
												class="form-control"
												placeholder="Proveedor,concepto y partida presupuestaria"
												th:field="*{gastos[__${gastoStat.index}__].proveedor}" /></td>
											<td class="col-md-2"><input type="text"
												class="form-control" placeholder="Importe"
												th:field="*{gastos[__${gastoStat.index}__].importe}" /></td>
											<td class="col-md-2">
												<button onclick="appendText()" class="btn btn-success"
													type="button" id="btnMas0" >+</button>
											</td>
											<td class="col-md-2">
												<button id="btnMenos0" onclick="removeText(this.id)" class="btn btn-success"
													type="button" >-</button>
											</td>

										</tr>
									</tbody>

								</table>
								
							</div>
						</div>
				
							<div class="row">
								<div class="col-md-6">
									<div class="panel panel-default">
										<div class="panel-heading">
											<p class="panel-title">PAGAR A:</p>
										</div>
										<div class="panel-body">
										<div class="form-group">
												<input class="form-control" placeholder="Pagar a:" name="pagador" type="text" th:value="${pago.pagador}" />
										</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="panel panel-default">
										<div class="panel-heading">
											<p class="panel-title">DATOS BANCARIOS</p>
										</div>
										<div class="panel-body">
											<div class="form-group">
												<input class="form-control" placeholder="IBAN" name="iban" type="text" th:value="${pago.iban}" />
											</div>
											<div class="form-group">
												<input class="form-control" placeholder="BIC" name="bic" type="text" th:value="${pago.bic}" />
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
										<div class="panel-heading">
											<p class="panel-title">MEMORIA EXPLICATIVA DE LOS GASTOS</p>
										</div>
										<div class="panel-body">
											<textarea name="memoria" class="form-control" rows="3"></textarea>
										</div>
							</div>
							<div class="panel panel-default">
										<div class="panel-heading">
											<p class="panel-title">RELACIÓN CON EL PROYECTO</p>
										</div>
										<div class="panel-body">
											<textarea name="relacion" class="form-control" rows="3"></textarea>
										</div>
							</div>
			
						<br></br>

						<!-- Change this to a button or input when using this as a form -->
						<input type="submit" class="btn btn-lg btn-success btn-block"
							value="Add Pago" /> <input type="hidden"
							th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

<!-- Bootstrap Core CSS -->
<link type="text/css"
	href="../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}" />


<!-- jQuery -->
<script src="../../resources/bower_components/jquery/dist/jquery.min.js"
	data-th-src="@{/resources/bower_components/jquery/dist/jquery.min.js}">
		
	</script>

<!-- MetisMenu CSS -->
<link type="text/css"
	href="../../resources/bower_components/metisMenu/dist/metisMenu.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/metisMenu/dist/metisMenu.min.css}" />

<!-- Custom CSS -->
<link type="text/css" href="../../resources/dist/css/sb-admin-2.css"
	rel="stylesheet" data-th-href="@{/resources/dist/css/sb-admin-2.css}" />

<!-- Custom Fonts -->
<link
	href="../../resources/bower_components/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css"
	data-th-href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}" />


<!-- Bootstrap Core JavaScript -->
<script
	src="../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js"
	data-th-src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}">
		
	</script>

<!-- Metis Menu Plugin JavaScript -->
<script
	src="../../resources/bower_components/metisMenu/dist/metisMenu.min.js"
	data-th-src="@{/resources/bower_components/metisMenu/dist/metisMenu.min.js}">
		
	</script>

<!-- Custom Theme JavaScript -->
<script src="../../resources/dist/js/sb-admin-2.js"
	data-th-src="@{/resources/dist/js/sb-admin-2.js}">
		
	</script>

</html>


