<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<!-- Bootstrap Core CSS -->
<link type="text/css"
	href="../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

<!-- MetisMenu CSS -->
<link type="text/css"
	href="../../resources/bower_components/metisMenu/dist/metisMenu.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/metisMenu/dist/metisMenu.min.css}" />

<!-- Custom CSS -->
<link type="text/css" href="../../resources/dist/css/sb-admin-2.css"
	rel="stylesheet" data-th-href="@{/resources/dist/css/sb-admin-2.css}" />

<!-- Custom Fonts -->
<link
	href="../../resources/bower_components/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css"
	data-th-href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}" />
<title>Añadir Admin</title>
</head>
<body class="container">
	 <h1>Añadir Admin </h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title">Datos Admin</p>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" role="form" action="#" th:action="@{/altaAdmin}"
				th:object="${userDTO}" method="POST">
				<fieldset>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('username')} ? has-error">
						<label class="control-label col-md-2" for="username">Username:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" th:field="*{username}"
								id="username" type="text" /> <span class="help-block"
								th:errors="*{username}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('nombre')} ? has-error">
						 <label class="control-label col-md-2" for="nombre">Nombre:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" th:field="*{nombre}"
								id="nombre" type="text" /> <span class="help-block"
								th:errors="*{nombre}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('apellidos')} ? has-error">
						<label class="control-label col-md-2" for="apellidos">Apellidos:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" id="apellidos"
								th:field="*{apellidos}" type="text" /> <span class="help-block"
								th:errors="*{apellidos}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('telefono')} ? has-error">
						<label class="control-label col-md-2" for="telefono">Telefono:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" th:field="*{telefono}"
								id="telefono" type="text" /> <span class="help-block"
								th:errors="*{telefono}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('email')} ? has-error">
						<label class="control-label col-md-2" for="email">Email:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" placeholder="xxxx@yyy.com"
								id="email" th:field="*{email}" type="email" /> <span
								class="help-block" th:errors="*{email}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('password')} ? has-error">
						<label class="control-label col-md-2" for="password">Password:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" th:field="*{password}"
								id="password" type="password" /> <span class="help-block"
								th:errors="*{password}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('nuevaPassword')} ? has-error">
						<label class="control-label col-md-2" for="nuevapassword">Confirma
							Password:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10"
								placeholder="Repita Password" id="nuevapassword"
								th:field="*{nuevaPassword}" type="password" /> <span
								class="help-block" th:errors="*{nuevaPassword}">[errors]</span>
						</div>
					</div>
					<!-- Change this to a button or input when using this as a form -->
					<input type="submit" class="btn btn-lg btn-success btn-block"
						value="Añadir Admin" />
				</fieldset>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</form>
		</div>
	</div>

</body>
</html>