<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<div th:include="menus"></div>
<div id="page-wrapper">
	 <div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Alta Gestor</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title">Datos Gestor</p>
		</div>
		<div class="panel-body">
			<form  class="form-horizontal" role="form" action="#" th:action="@{/altaGestor}"
				th:object="${userDTO}" method="POST">
				<fieldset>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('username')} ? has-error">
						<label class="control-label col-md-2" for="username">Username:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" th:field="*{username}"
								id="username" type="text" /> <span class="help-block"
								th:errors="*{username}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('nombre')} ? has-error">
						 <label class="control-label col-md-2" for="nombre">Nombre:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" th:field="*{nombre}"
								id="nombre" type="text" /> <span class="help-block"
								th:errors="*{nombre}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('apellidos')} ? has-error">
						<label class="control-label col-md-2" for="apellidos">Apellidos:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" id="apellidos"
								th:field="*{apellidos}" type="text" /> <span class="help-block"
								th:errors="*{apellidos}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('telefono')} ? has-error">
						<label class="control-label col-md-2" for="telefono">Telefono:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" th:field="*{telefono}"
								id="telefono" type="text" /> <span class="help-block"
								th:errors="*{telefono}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('email')} ? has-error">
						<label class="control-label col-md-2" for="email">Email:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" placeholder="xxxx@yyy.com"
								id="email" th:field="*{email}" type="email" /> <span
								class="help-block" th:errors="*{email}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('password')} ? has-error">
						<label class="control-label col-md-2" for="password">Password:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" th:field="*{password}"
								id="password" type="password" /> <span class="help-block"
								th:errors="*{password}">[errors]</span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('nuevaPassword')} ? has-error">
						<label class="control-label col-md-2" for="nuevapassword">Confirma
							Password:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10"
								placeholder="Repita Password" id="nuevapassword"
								th:field="*{nuevaPassword}" type="password" /> <span
								class="help-block" th:errors="*{nuevaPassword}">[errors]</span>
						</div>
					</div>
					<!-- Change this to a button or input when using this as a form -->
					<input type="submit" class="btn btn-lg btn-success btn-block"
						value="Añadir Gestor" />
				</fieldset>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</form>
		</div>
	</div>
	</div>
<div th:include="scripts"></div>
</body>
</html>
