<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<div th:include="menus"></div>
<div id="page-wrapper">
	<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Crear Proyecto</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title">Datos Proyecto</p>
		</div>
		<div class="panel-body">
			<form class="form-horizontal"  role="form" action="#" th:action="@{/crearProyecto}"
				th:object="${nuevoProyectoDTO}" method="POST">
			
					<div class="form-group"
						th:classappend="${#fields.hasErrors('referencia')} ? has-error">
						<label class="control-label col-md-2" for="referencia">Referencia:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" placeholder="Referencia"
								type="text" th:field="*{referencia}" />
								<span class="help-block" th:errors="*{referencia}">[errors]</span>
						</div>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('titulo')} ? has-error">
						<label class="control-label col-md-2" for="titulo">Título:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" placeholder="Título"
								type="text" th:field="*{titulo}" />
								<span class="help-block" th:errors="*{titulo}">[errors]</span>
						</div>
						
					</div>
					<div class="form-group">
						<label class="control-label col-md-2" for="investigadores">
							Investigador Principal:</label>
							<div class="col-md-10">
								<select class="form-control col-md-10" th:field="*{investigadorId}">
								<option th:each="investigador : ${investigadores}"
									th:value="${investigador.id}" th:text="${investigador.nombre}">Investigadores</option>
								</select>
							</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-2" for="investigadores">
							Investigadores:</label>
							<div class="col-md-10">
								<select class="form-control col-md-10"
								name="investigadorId" th:field="*{investigadoresID}" size="10" multiple="multiple">
								<option th:each="investigador : ${investigadores}"
									th:value="${investigador.id}" th:text="|${investigador.nombre} ${investigador.apellidos}|">Investigadores</option>
								</select>
							</div>
					</div>
					<div class="alert alert-info"> <span class="glyphicon glyphicon-info-sign"></span> Selecciona uno o más investigadores presionando<span class="label label-info">CTRL</span></div>
						
					
					
					<div class="form-group"
						th:classappend="${#fields.hasErrors('numContabilidad')} ? has-error">
						<label class="control-label col-md-2" for="numContabilidad">
							Num. Contabilidad:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10"
								placeholder="Nº Contabilidad" type="text"
								th:field="*{numContabilidad}" />
								<span class="help-block" th:errors="*{numContabilidad}">[errors]</span>
						</div>
						
					</div>
					<input type="submit" class="btn btn-lg btn-success btn-block"
						value="Crear Proyecto" />
				
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</form>
		</div>
	</div>
	</div>
<div th:include="scripts"></div>


