<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<!-- Bootstrap Core CSS -->
<link type="text/css"
	href="../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

<!-- MetisMenu CSS -->
<link type="text/css"
	href="../../resources/bower_components/metisMenu/dist/metisMenu.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/metisMenu/dist/metisMenu.min.css}" />

<!-- Custom CSS -->
<link type="text/css" href="../../resources/dist/css/sb-admin-2.css"
	rel="stylesheet" data-th-href="@{/resources/dist/css/sb-admin-2.css}" />

<!-- Custom Fonts -->
<link
	href="../../resources/bower_components/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css"
	data-th-href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}" />

<title>Añadir Proyecto</title>
</head>
<body class="container">
	<h1>Añadir Proyecto</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title">Datos Proyecto</p>
		</div>
		<div class="panel-body">
			<form class="form-horizontal"  role="form" action="#" th:action="@{/crearProyecto}"
				th:object="${nuevoProyectoDTO}" method="POST">
			
					<div class="form-group"
						th:classappend="${#fields.hasErrors('referencia')} ? has-error">
						<label class="control-label col-md-2" for="referencia">Referencia:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" placeholder="Referencia"
								type="text" th:field="*{referencia}" />
								<span class="help-block" th:errors="*{referencia}">[errors]</span>
						</div>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('titulo')} ? has-error">
						<label class="control-label col-md-2" for="titulo">Título:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10" placeholder="Título"
								type="text" th:field="*{titulo}" />
								<span class="help-block" th:errors="*{titulo}">[errors]</span>
						</div>
						
					</div>
					<div class="form-group">
						<label class="control-label col-md-2" for="investigadores">
							Investigador Principal:</label>
							<div class="col-md-10">
								<select class="form-control col-md-10" th:field="*{investigadorId}">
								<option th:each="investigador : ${investigadores}"
									th:value="${investigador.id}" th:text="${investigador.nombre}">Investigadores</option>
								</select>
							</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-2" for="investigadores">
							Investigadores:</label>
							<div class="col-md-10">
								<select class="form-control col-md-10"
								name="investigadorId" th:field="*{investigadoresID}" size="10" multiple="multiple">
								<option th:each="investigador : ${investigadores}"
									th:value="${investigador.id}" th:text="${investigador.nombre}">Investigadores</option>
								</select>
							</div>
					</div>
					
					
					
					
					<div class="form-group"
						th:classappend="${#fields.hasErrors('numContabilidad')} ? has-error">
						<label class="control-label col-md-2" for="numContabilidad">
							Num. Contabilidad:</label>
						<div class="col-md-10">
							<input class="form-control col-md-10"
								placeholder="Nº Contabilidad" type="text"
								th:field="*{numContabilidad}" />
								<span class="help-block" th:errors="*{numContabilidad}">[errors]</span>
						</div>
						
					</div>
					<input type="submit" class="btn btn-lg btn-success btn-block"
						value="Crear Proyecto" />
				
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</form>
		</div>
	</div>
</body>
</html>


