<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

	

<div th:include="menus"></div>
<div id="page-wrapper">
<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">INFORMACIÓN PARA INVENTARIAR ACTIVOS FIJOS</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="panel-title">Introduzca valores Inventario</p>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form"  th:action="@{'/proyecto/{idProyecto}/{modoaux}'  (idProyecto=*{proyecto.id}, modoaux=${modo} )  }"
					 th:object=${inventario} method="POST">
					 
						<div class="form-group">
							<label class="control-label col-md-2" for=" proyecto.numContabilidad">Nº Contabilidad</label>
							<div class="col-md-10">
								<input class="form-control" th:field="*{proyecto.numContabilidad}" type="text"readonly="readonly" />
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<p class="panel-title">Datos Investigador Principal</p>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label class="control-label col-md-2" for="user.nombre">Nombre</label>
									<div class="col-md-10">
										<input class="form-control" th:field="${user.nombre}" type="text"readonly="readonly" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label col-md-2" for="user.apellidos">Apellidos</label>
									<div class="col-md-10">
										<input class="form-control" th:field="${user.apellidos}" type="text" readonly="readonly"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label col-md-2" for="proyecto.investigadorPrincipal.departamento">Departamento</label>
									<div class="col-md-10">
										<input class="form-control" th:value="*{proyecto.investigadorPrincipal.departamento}" type="text"readonly="readonly" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-2" for="proyecto.investigadorPrincipal.centro">Centro</label>
									<div class="col-md-10">
										<input class="form-control" th:value="*{proyecto.investigadorPrincipal.centro}" type="text" readonly="readonly"/>
									</div>								
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<p class="panel-title">Activo</p>
							</div>
							<div class="panel-body">
							
								<div class="form-group" th:classappend="${#fields.hasErrors('descripcion')} ? has-error">
									<label class="control-label" for="descripcion">DESCRIPCIÓN DEL BIEN A INVENTARIAR:</label>
									<textarea class="form-control" rows="3" th:field="*{descripcion}"></textarea>
									<span class="help-block" th:errors="*{descripcion}">[errors]</span>
								</div>
								<div class="form-group " th:classappend="${#fields.hasErrors('centro')} ? has-error">
									<label class="control-label " for="centro">CENTRO EN EL QUE SE EMPLAZARÁ EL BIEN:</label>
									<textarea class="form-control" rows="3" th:field="*{centro}"></textarea>
									<span class="help-block" th:errors="*{centro}">[errors]</span>
								</div>
								<div class="form-group" >
									<label class="control-label " for="autorizacion">AUTORIZACIÓN DEL GERENTE DEL CENTRO (si se necesita instalación o afecta a la infraestructura del Centro):</label>
									<textarea class="form-control" rows="3" th:field="*{autorizacion}"></textarea>
								</div>
								<div class="form-group">
									<label class="control-label " for="observaciones">OBSERVACIONES:</label>
									<textarea class="form-control" rows="3" th:field="*{observaciones}"></textarea>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('fecha')} ? has-error">
									<input id="fechaInventario" class="form-control" type="date" th:field="*{fecha}"/>
									<input id="fechaInventarioForm" type="hidden"  th:field="*{fecha}" />
									<span class="help-block" th:errors="*{fecha}">[errors]</span>
								</div>							
								</div>
						
							
						</div>

						<br></br>

						<!-- Change this to a button or input when using this as a form -->
						<button type="submit" class="btn btn-lg btn-success btn-block"
							th:text="${modoTitulo}"  > </button>
							
							<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
					</form>
				</div>
			</div>
			</div>
		

	
<div th:include="scripts"></div>	

<script type="text/javascript">
	  $("#fechaInventario").change(function() {
		  $("#fechaInventarioForm").val( $("#fechaInventario").val());
	  })
	</script>
	
	</body>
</html>
