<!--

    This file is part of proyecto-gi.

    proyecto-gi is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    proyecto-gi is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with proyecto-gi.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="menus"></div>
<div id="page-wrapper" >

	<div class="text-center">
		<br></br>
		<img class="text-center" th:src="@{/resources/logoUcm.jpg}" alt="Logo UCM" width="800" height="600"/>
	</div>	
</div>


<div th:include="scripts"></div>
</body>
</html>
