<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<div th:include="menus"></div>
<div id="page-wrapper">

	
 			<div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                    <a th:href="@{'/proyecto/{idProyecto}/pagos'  (idProyecto=${idProyecto})}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-credit-card fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Añadir Pago</div>             
                                </div>
                            </div>
                        </div>
                        </a>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Listar Pagos</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                    <a th:href="@{'/proyecto/{idProyecto}/viajes'  (idProyecto=${idProyecto})}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-plane fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Añadir Viaje</div>
                                </div>
                            </div>
                        </div>
                        </a>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Listar Viajes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                    <a th:href="@{'/proyecto/{idProyecto}/inventarios'  (idProyecto=${idProyecto})}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-list-alt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Inventario</div>
                                    
                                </div>
                            </div>
                        </div>
                        </a>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Listar Inventarios</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>
	
<div th:include="scripts"></div>