<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<!-- Bootstrap Core CSS -->
	<link rel="stylesheet"
	       href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	       th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
<title>Adjuntos</title>
</head>

<body class="container text-center">
	<h3>Adjuntar Ficheros</h3>
	
	<div class="alert alert-info text-center " role="alert">
		<span class="glyphicon glyphicon-exclamation-sign text-center " aria-hidden="true"></span>
		<span class="sr-only text-center"> Info:</span> Para adjuntar ficheros deberá Editar a continuación de dar de alta.
	</div>

</body>
</html>