<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Core CSS -->
<link type="text/css"
	href="../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
<title>Subida de adjuntos</title>
</head>
<body>
		<div class="panel panel-default">
			<div class="panel-heading">
				<p class="panel-title">ADJUNTAR ARCHIVOS</p>
			</div>
		
		<div class="panel-body">
		<form action="#" class="form-inline" th:action="@{adjuntos}"  th:object="${command}"
			method="POST" enctype="multipart/form-data">
			<div class="form-group"
				th:classappend="${#fields.hasErrors('description')} ? has-error">
				<label>Description: <textarea class="form-control"
					placeholder="Description" th:field="*{description}"></textarea></label>
				<span class="help-block"
					th:errors="*{description}">[errors]</span>
			</div>
			<div class="form-group"
				th:classappend="${#fields.hasErrors('attachment')} ? has-error">
				<label class="lbl-info">Select the file: <input
					type="file" class="form-control"
					th:field="*{attachment}" /></label>
				<span class="help-block"
					th:errors="*{attachment}">[errors]</span>
			
			<button type="submit" class="btn btn-primary">
      			<span class="glyphicon glyphicon-upload"></span> Upload
   			</button>
   			</div>
		</form>

		<h1>Adjuntos</h1>
		<ul class="list-unstyled" th:each="file : ${files}">
			<li>
				<form method="POST"  action="#" th:action="@{adjunto/__${file.id}__}">
					<input type="hidden" name="_method" value="DELETE" />
					<a href="#" th:href="${file.attachmentUrl}" th:text="${file.description}">File</a>
					<button type="submit" class="btn btn-danger">
      					<span class="glyphicon glyphicon-floppy-remove"></span> 
   					</button>
				</form>
			</li>
		</ul>
		<footer>
			<p>© GesInv</p>
		</footer>
		</div>
		</div>

		
		<div th:include="scripts"></div>
</body>
</html>