<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<link rel="stylesheet" type="text/css" media="all" 
          href="../../ccsrico/prueba.css" th:href="@{/resources/cssrico/prueba.css}" />
<title>Login</title>
</head>

<body>
	<h1>Login / Registroooo </h1>
	<br></br><br></br>
	<p class= "verde">Welcome to our grocery store!</p>
	
<form action="#"  th:action="@{/doLogin}" th:object="${User}" method="POST">
<div>
 <label> Username:</label>
 <input type="text" name="username" />
 </div>  
 <br />
 <br />
 <label > Password:</label>
 <input  type="password"  name="password" />  
 <br />
 <br />
 <input type="submit" value="Entrar" />  
</form>
	
	
</body>
</html>