<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Login</title>
</head>

<body>
	<h1>Login / Registro </h1>
	<br></br><br></br>
	
<form action="#"  th:action="@{/login}" th:object="${User}" method="POST">
<div>
 <label> Username:</label>
 <input type="text" name="username" />
 </div>  
 <br />
 <br />
 <label > Password:</label>
 <input  type="password"  name="password" />  
 <br />
 <br />
 <input type="submit" value="Entrar" />  
</form>
	
	
</body>
</html>