<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<!-- Bootstrap Core CSS -->
<link type="text/css"
	href="../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

<!-- MetisMenu CSS -->
<link type="text/css"
	href="../../resources/bower_components/metisMenu/dist/metisMenu.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/metisMenu/dist/metisMenu.min.css}" />

<!-- Custom CSS -->
<link type="text/css" href="../../resources/dist/css/sb-admin-2.css"
	rel="stylesheet" data-th-href="@{/resources/dist/css/sb-admin-2.css}" />

<!-- Custom Fonts -->
<link
	href="../../resources/bower_components/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css"
	data-th-href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}" />

<title>Menu</title>
</head>
<body>

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header"> -- Menu GI -- </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<p>
						<a class="btn btn-link" th:href="@{/pagos}">Pagos</a>
						<a class="btn btn-link" th:href="@{/viajes}" >Viajes</a>
						<a class="btn btn-link" th:href="@{/inventarios}" >Inventarios</a>
					</p>
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
	</div>
	
</body>
</html>