<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!-- Bootstrap Core CSS -->
<link type="text/css"
	href="../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

<!-- MetisMenu CSS -->
<link type="text/css"
	href="../../resources/bower_components/metisMenu/dist/metisMenu.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/metisMenu/dist/metisMenu.min.css}" />

<!-- Custom CSS -->
<link type="text/css" href="../../resources/dist/css/sb-admin-2.css"
	rel="stylesheet" data-th-href="@{/resources/dist/css/sb-admin-2.css}" />

<!-- Custom Fonts -->
<link
	href="../../resources/bower_components/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css"
	data-th-href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<title>Menu</title>
</head>
<body class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header"> -- Menu GI -- </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<p>
						<a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class=" btn btn-link" th:href="@{/admin}" >Admin</a>
						<a th:if="${#authorization.expression('hasRole(''ROLE_GESTOR'')')}" class=" btn btn-link" th:href="@{/gestor}" >Gestor</a>
						<a th:if="${#authorization.expression('hasRole(''ROLE_INVESTIGADOR'')')}"class="btn btn-link" th:href="@{/proyectos}">Proyectos</a>											
					</p>							
				</div>				
				<!-- /.panel-body -->
			</div>
		</div>
	</div>
		
</body>
</html>