<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

	

<div th:include="menus"></div>
<style type="text/css">
  #adjuntos {
  	width : 100%;
  	height : 300px;
  	border: 0px;
  } 
</style>
<div id="page-wrapper">
<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Permiso Ausencia Viaje</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="panel-title">Introduzca valores Permiso Ausencia</p>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form"  th:action="@{/proyectos/{idProyecto}/{modoaux}/{idPermisoAusencia}  (idProyecto=*{proyecto.id}, modoaux=${modo}, idPermisoAusencia=${idPermisoAusencia} ) }"
					 th:object=${permisoAusencia} method="POST">				
							
						<div class="panel panel-default">
							<div class="panel-heading">
								<p class="panel-title">Datos del Solicitante</p>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label class="control-label col-md-2" for="user.nombre">Nombre</label>
									<div class="col-md-10">
										<input class="form-control" th:field="${user.nombre}" type="text"readonly="readonly" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label col-md-2" for="user.apellidos">Apellidos</label>
									<div class="col-md-10">
										<input class="form-control" th:field="${user.apellidos}" type="text" readonly="readonly"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label col-md-2" for="interesado.departamento.nombre">Departamento</label>
									<div class="col-md-10">
										<input class="form-control" th:value="*{interesado.departamento.nombre}" type="text"readonly="readonly" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-2" for="interesado.centro.nombre">Centro</label>
									<div class="col-md-10">
										<input class="form-control" th:value="*{interesado.centro.nombre}" type="text" readonly="readonly"/>
									</div>								
								</div>
								<div class="form-group">
							<label class="control-label col-md-2" for="user.telefono">Teléfono</label>
							<div class="col-md-10">
								<input class="form-control" th:field="${user.telefono}"
									type="text" readonly="readonly" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="user.email">Email</label>
							<div class="col-md-10">
								<input class="form-control" th:field="${user.email}" type="text"
									readonly="readonly" />
							</div>
						</div>
							</div>
						</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<p class="panel-title">Datos del permiso que solicita</p>
					</div>
					<div class="panel-body">

						<div class="form-group">
							<label class="control-label col-md-2"
								for=" proyecto.numContabilidad">Motivo</label>
							<div class="col-md-10">
								<input class="form-control"
									th:field="*{motivo}" type="text"
									 />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2"
								for=" proyecto.numContabilidad">Lugar</label>
							<div class="col-md-10">
								<input class="form-control"
									th:field="*{lugar}" type="text"
									 />
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-md-2">Desde:</label>
							<div class="col-md-2">
								<input type="date" class="form-control"
									th:field="*{desde}" placeholder="Fecha Salida" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">Hasta:</label>
							<div class="col-md-2">
								<input type="date" class="form-control" th:field="*{hasta}"
									placeholder="Fecha Llegada" />
							</div>
						</div>
						
						<div class="panel-body">
							<div  class="form-group">
									<label class="control-label col-md-2" for="sustituciones">La ausencia afecta a docencia: </label>
									<div class="col-md-5">
										<button onclick="appendText()" class="btn btn-success"	type="button" id="btnMas0" >+</button>		
									</div>	
								</div>	
						
							<table class="table table-bordered ">
								<thead>
									<tr>
										<th class="col-md-2 text-center">Asignatura</th>
										<th class="col-md-2 text-center">Clase</th>
										<th class="col-md-2 text-center">Sustituto</th>
										<th class="col-md-2 text-center">Será recuperada</th>
										<th class="col-md-1 text-center">-</th>									
									</tr>
								</thead>
								
								<tbody id="gastos">		
								
									<tr th:each="gasto,gastoStat : *{sustituciones}" th:id="'gasto' + ${gastoStat.index}" >
											
											<td class="col-md-2" th:classappend="${#fields.hasErrors('sustituciones[__${gastoStat.index}__].asignatura')} ? has-error">	
												<input type="text" class="form-control"  
													th:field="*{sustituciones[__${gastoStat.index}__].asignatura}" readonly="readonly"/>																	
												
											</td>
											
											<td class="col-md-5" th:classappend="${#fields.hasErrors('sustituciones[__${gastoStat.index}__].esClase')} ? has-error">
												<input type="text"
													class="form-control" 
													th:field="*{sustituciones[__${gastoStat.index}__].esclase}"  readonly="readonly" />												
										
											</td>
																					
											
											<td class="col-md-2"th:classappend="${#fields.hasErrors('sustituciones[__${gastoStat.index}__].dia')} ? has-error">
												<input type="text"
													class="form-control" 
													th:field="*{sustituciones[__${gastoStat.index}__].dia}" readonly="readonly"/>
												
											</td>
											
											<td class="col-md-2"th:classappend="${#fields.hasErrors('sustituciones[__${gastoStat.index}__].sustituto')} ? has-error">
												<input type="text"
													class="form-control" 
													th:field="*{sustituciones[__${gastoStat.index}__].sustituto}" readonly="readonly"/>
												
											</td>
																																
											<td class="col-md-2">
												<button th:id="'btnMenos' + ${gastoStat.index}" onclick="removeText(this.id)" class="btn btn-danger form-control"
													type="button" >-</button>
											</td>
										</tr>								
														
								</tbody>										
								
								
							</table>

						</div>
						
						<div class="form-group">
							<label class="control-label col-md-2"
								for=" proyecto.numContabilidad">La ausencia afecta a otras actividades</label>
							<div class="col-md-10">
								<input class="form-control"
									th:field="*{otrasActividades}" type="text"
									 />
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-md-2">Genera Gasto:</label>
							<div class="col-md-2">
								<input style="min-height: 33px;" type="checkbox" class="checkbox" th:field="*{generaGasto}"/>
							</div>
						</div>

					</div>


				</div>


				<!-- Change this to a button or input when using this as a form -->
						<button type="submit" class="btn btn-lg btn-success btn-block"
							th:text="${modoTitulo}"  > </button>
							
							<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
					</form>
				</div>
			</div>
			
		
			
			</div>
		

	
<div th:include="scripts"></div>

<script>
	function appendText() {
		// Create text with DOM

		var count = $('#gastos tr').length;
		var nuevoGasto = $('<tr></tr>');
		var auxAsignatura = $('<td class="col-md-2"></td>');
		var auxClase = $('<td class="col-md-2" style="text-align:center;" ></td>');
		var auxSustituto = $('<td class="col-md-2"></td>');
		var auxDia = $('<td class="col-md-2"></td>');
		
		//botones
		//var auxbtnMas = $('<td class="col-md-2"></td>');
		var auxbtnMenos = $('<td class="col-md-1"></td>');

		var asignatura = $(
				'<input type="text" class="form-control col-md-2" />').attr('name', 'sustituciones[' + count + '].asignatura');
		var esClase = $(
				'<input type="checkbox" />').attr('name', 'sustituciones[' + count + '].esClase');
		var sustituto = $(
				'<input type="text" class="form-control col-md-2"/> ').attr('name', 'sustituciones[' + count + '].sustituto');
		
		var dia = $('<input type="date"  class="form-control col-md-2"/> ').attr('name', 'sustituciones[' + count + '].dia');
			
		var btnMenos = $('<button onclick="removeText(this.id)" class="btn btn-danger form-control" type="button">-</button>').attr('id', 'btnMenos' + count );
		
		
		$(auxAsignatura).append(asignatura);
		$(auxClase).append(esClase);
		$(auxSustituto).append(sustituto);
		$(auxDia).append(dia);
		
		//botones
		//$(auxbtnMas).append(btnMas);
		$(auxbtnMenos).append(btnMenos);
		

		$(nuevoGasto).append(auxAsignatura);
		$(nuevoGasto).append(auxClase);
		$(nuevoGasto).append(auxSustituto);
		$(nuevoGasto).append(auxDia);
		
		//botones
		//$(nuevoGasto).append(auxbtnMas);
		$(nuevoGasto).append(auxbtnMenos);
		
		//idNuevo
		$(nuevoGasto).attr('id', 'gasto' + count);
		
		$('#gastos').append(nuevoGasto);
	}
</script>

<script type="text/javascript">
 
 function removeText(idBotonMenos) {
		
		var totalGastos = $('#gastos tr').length;	
		
		//La posicion 8 del id guarda el numero de gasto
		var numGasto = idBotonMenos.charAt(8);
		
		//Se pasa a numero
		var posCambio = Number(numGasto) + 1; 
		
		//Elimino tr
		$('#gasto'+numGasto).remove();
		
		//A partir del tr eliminado, renombro names e ids
		for (posCambio; posCambio < totalGastos; posCambio++){ 
			
			//Disminuye en uno el name
			document.getElementsByName('sustituciones['+posCambio+'].asignatura')[0].setAttribute('name','sustituciones['+(posCambio-1)+'].asignatura');
			document.getElementsByName('sustituciones['+posCambio+'].esClase')[0].setAttribute('name','sustituciones['+(posCambio-1)+'].esClase');
			document.getElementsByName('sustituciones['+posCambio+'].sustituto')[0].setAttribute('name','sustituciones['+(posCambio-1)+'].sustituto');
			document.getElementsByName('sustituciones['+posCambio+'].dia')[0].setAttribute('name','sustituciones['+(posCambio-1)+'].dia');
			
			//Disminuye en uno el id de los botones
			document.getElementById('btnMenos'+posCambio).setAttribute('id','btnMenos'+(posCambio-1));
			
			//Disminuye en uno el id del tr
			document.getElementById('gasto'+posCambio).setAttribute('id','gasto'+(posCambio-1));				
		}	
		
		
	}
 </script>
</body>
</html>
