<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

	

<div th:include="menus"></div>
<style type="text/css">
  #adjuntos {
  	width : 100%;
  	height : 300px;
  	border: 0px;
  } 
</style>
<div id="page-wrapper">
<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Permiso Ausencia Viaje</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="panel-title">Introduzca valores Permiso Ausencia</p>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form"  th:action="@{/proyectos/{idProyecto}/{modoaux}/{idPermisoAusencia}  (idProyecto=*{proyecto.id}, modoaux=${modo}, idPermisoAusencia=${idPermisoAusencia} ) }"
					 th:object=${permisoAusencia} method="POST">				
							
						<div class="panel panel-default">
							<div class="panel-heading">
								<p class="panel-title">Datos del Solicitante</p>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label class="control-label col-md-2" for="user.nombre">Nombre</label>
									<div class="col-md-10">
										<input class="form-control" th:field="${user.nombre}" type="text"readonly="readonly" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label col-md-2" for="user.apellidos">Apellidos</label>
									<div class="col-md-10">
										<input class="form-control" th:field="${user.apellidos}" type="text" readonly="readonly"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label col-md-2" for="interesado.departamento.nombre">Departamento</label>
									<div class="col-md-10">
										<input class="form-control" th:value="*{interesado.departamento.nombre}" type="text"readonly="readonly" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-2" for="interesado.centro.nombre">Centro</label>
									<div class="col-md-10">
										<input class="form-control" th:value="*{interesado.centro.nombre}" type="text" readonly="readonly"/>
									</div>								
								</div>
								<div class="form-group">
							<label class="control-label col-md-2" for="user.telefono">Teléfono</label>
							<div class="col-md-10">
								<input class="form-control" th:field="${user.telefono}"
									type="text" readonly="readonly" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="user.email">Email</label>
							<div class="col-md-10">
								<input class="form-control" th:field="${user.email}" type="text"
									readonly="readonly" />
							</div>
						</div>
							</div>
						</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<p class="panel-title">Datos del permiso que solicita</p>
					</div>
					<div class="panel-body">

						<div class="form-group">
							<label class="control-label col-md-2"
								for=" proyecto.numContabilidad">Motivo</label>
							<div class="col-md-10">
								<input class="form-control"
									th:field="*{motivo}" type="text"
									 />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2"
								for=" proyecto.numContabilidad">Lugar</label>
							<div class="col-md-10">
								<input class="form-control"
									th:field="*{lugar}" type="text"
									 />
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-md-2">Desde:</label>
							<div class="col-md-2">
								<input type="date" class="form-control"
									th:field="*{desde}" placeholder="Fecha Salida" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">Hasta:</label>
							<div class="col-md-2">
								<input type="date" class="form-control" th:field="*{hasta}"
									placeholder="Fecha Llegada" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2"
								for=" proyecto.numContabilidad">Otras Actividades</label>
							<div class="col-md-10">
								<input class="form-control"
									th:field="*{otrasActividades}" type="text"
									 />
							</div>
						</div>
						
						
						
						
						<div class="panel-body">
							<div  class="form-group">
									<label class="control-label col-md-2" for="sustituciones">Afecta a docencia: </label>
									<div class="col-md-5">
										<button onclick="appendText()" class="btn btn-success"	type="button" id="btnMas0" >+</button>		
									</div>	
								</div>	
						
							<table class="table table-bordered ">
								<thead>
									<tr>
										<th class="col-md-2 text-center">Asignatura</th>
										<th class="col-md-1 text-center">Clase</th>
										<th class="col-md-2 text-center">Sustituto</th>
										<th class="col-md-2 text-center">Será recuperada</th>
										<th class="col-md-1 text-center">Añadir</th>		
										<th class="col-md-1 text-center">Eliminar</th>									
									</tr>
								</thead>
								
								<tbody id="gastos">		
								
									<tr th:each="gasto,gastoStat : *{sustituciones}" th:id="'gasto' + ${gastoStat.index}" >
											
											<td class="col-md-2" th:classappend="${#fields.hasErrors('sustituciones[__${gastoStat.index}__].asignatura')} ? has-error">	
												<input type="text" class="form-control"  
													th:field="*{sustituciones[__${gastoStat.index}__].asignatura}" readonly="readonly"/>																	
												
											</td>
											
											<td class="col-md-5" th:classappend="${#fields.hasErrors('sustituciones[__${gastoStat.index}__].esclase')} ? has-error">
												<input type="text"
													class="form-control" 
													th:field="*{sustituciones[__${gastoStat.index}__].esclase}"  readonly="readonly" />												
										
											</td>
																					
											
											<td class="col-md-2"th:classappend="${#fields.hasErrors('sustituciones[__${gastoStat.index}__].dia')} ? has-error">
												<input type="text"
													class="form-control" 
													th:field="*{sustituciones[__${gastoStat.index}__].dia}" readonly="readonly"/>
												
											</td>
											
											<td class="col-md-2"th:classappend="${#fields.hasErrors('sustituciones[__${gastoStat.index}__].sustituto')} ? has-error">
												<input type="text"
													class="form-control" 
													th:field="*{sustituciones[__${gastoStat.index}__].sustituto}" readonly="readonly"/>
												
											</td>
											
											<td class="col-md-2">
												<button th:id="'btnMenos' + ${gastoStat.index}" onclick="removeText(this.id)" class="btn btn-success form-control"
													type="button" >+</button>
											</td>
																					
											<td class="col-md-2">
												<button th:id="'btnMenos' + ${gastoStat.index}" onclick="removeText(this.id)" class="btn btn-danger form-control"
													type="button" >-</button>
											</td>
										</tr>								
														
								</tbody>										
								
								
							</table>

						</div>

					</div>


				</div>


				<!-- Change this to a button or input when using this as a form -->
						<button type="submit" class="btn btn-lg btn-success btn-block"
							th:text="${modoTitulo}"  > </button>
							
							<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
					</form>
				</div>
			</div>
			
		
			
			</div>
		

	
<div th:include="scripts"></div>

</body>
</html>
