<!--

    This file is part of proyecto-gi.

    proyecto-gi is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    proyecto-gi is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with proyecto-gi.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<div th:include="menus"></div>

<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Detalle Permiso Ausencia </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="panel-body">

		<div class="panel panel-default">

			<div class="panel-heading">
				<p class="panel-title">Datos del Solicitante</p>
			</div>

			<div class="panel-body">				
					<label class="control-label col-md-2" for="user.nombre">Nombre:</label>					
					<p class="col-md-10" th:text="${user.nombre}" />
				
					<label class="control-label col-md-2" for="user.apellidos">Apellidos:</label>
					<p class="col-md-10"  th:text="${user.apellidos}"/>					
					
					<label class="control-label col-md-2" for="interesado.departamento.nombre">Departamento:</label>
					<p class="col-md-10"  th:text="${permisoAusencia.interesado.departamento.nombre}"/>
					
					<label class="control-label col-md-2" for="interesado.centro.nombre">Centro:</label>
					<p class="col-md-10"  th:text="${permisoAusencia.interesado.centro.nombre}"/>
					
					<label class="control-label col-md-2" for="user.telefono">Teléfono:</label>
					<p class="col-md-10"  th:text="${user.telefono}"/>
					
					<label class="control-label col-md-2" for="user.email">Email:</label>
					<p class="col-md-10"  th:text="${user.email}"/>					
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<p class="panel-title">Estados</p>
			</div>
			<div class="panel-body">
				<table class="table table-bordered ">
					<thead>
						<tr>
							<th class="col-md-2 text-center">ESTADO</th>
							<th class="col-md-2 text-center">Fecha</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="vbs : ${permisoAusencia.vbs}">
							<td th:text="${vbs.key}"></td>
							<td th:text="${vbs.value}"></td>
						</tr>
					</tbody>
				</table>	
	

			</div>
		</div>

			<div class="panel panel-default">
			<div class="panel-heading">
				<p class="panel-title">Datos del permiso que solicita</p>
			</div>
			<div class="panel-body">
				
				<label class="control-label col-md-2" for="permisoAusencia.proyecto.titulo">Proyecto:</label>					
				<p class="col-md-10" th:text="${permisoAusencia.proyecto.titulo}"/>
				
				<label class="control-label col-md-2" for="permisoAusencia.motivo">Motivo:</label>					
				<p class="col-md-10" th:text="${permisoAusencia.motivo}"/>
				
				<label class="control-label col-md-2" for="permisoAusencia.lugar">Lugar:</label>					
				<p class="col-md-10" th:text="${permisoAusencia.lugar}"/>				
				
				<label class="control-label col-md-2" for="permisoAusencia.desde">Desde:</label>					
				<p class="col-md-10" th:text="${permisoAusencia.desde}"/>
				
				<label class="control-label col-md-2" for="permisoAusencia.hasta">Hasta:</label>					
				<p class="col-md-10" th:text="${permisoAusencia.hasta}"/>		
				
				<label class="control-label col-md-4" for="permisoAusencia.otrasActividades">La ausencia afecta a otras actividades:</label>					
				<p class="col-md-8" th:text="${permisoAusencia.otrasActividades}"/>		
				
				<label class="control-label col-md-2" for="permisoAusencia.generaGasto">Genera Gasto:</label>
				<p class="col-md-10"  th:text="${permisoAusencia.generaGasto != false} ? SÍ : NO"/>		
				
				<label class="control-label col-md-2" for="permisoAusencia.generaGasto">Afecta a Docencia:</label>
				
				<table class="table table-bordered ">
								<thead>
									<tr>
										<th class="col-md-2 text-center">Asignatura</th>
										<th class="col-md-2 text-center">Clase</th>
										<th class="col-md-2 text-center">Sustituto</th>
										<th class="col-md-2 text-center">Será recuperada</th>
																	
									</tr>
								</thead>
								
								<tbody id="gastos">		
								
									<tr th:each="gasto,gastoStat : ${permisoAusencia.sustituciones}" th:id="'gasto' + ${gastoStat.index}" >
											
											<td class="col-md-2" >	
												<p class="form-control"  
													th:text="${permisoAusencia.sustituciones[__${gastoStat.index}__].asignatura}" readonly="readonly"/>																	
											</td>
											
											<td class="col-md-2">
												<p type="text" class="form-control" 
													th:text="${permisoAusencia.sustituciones[__${gastoStat.index}__].esClase != false} ? Sí : NO"  readonly="readonly" />												
										
											</td>
																					
											<td class="col-md-2">
												<p 	class="form-control" th:text="${permisoAusencia.sustituciones[__${gastoStat.index}__].sustituto}" readonly="readonly"/>
												
											</td>
																						
											<td class="col-md-2">
												<p
													class="form-control" 
													th:text="${permisoAusencia.sustituciones[__${gastoStat.index}__].dia}" readonly="readonly"/>
												
											</td>
											
										</tr>								
														
								</tbody>										
								
								
							</table>	
				
			</div>


		</div>

	</div>




</div>


<div th:include="scripts"></div>

</body>
</html>
