<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<!-- Bootstrap Core CSS -->
<link type="text/css"
	href="../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

<!-- MetisMenu CSS -->
<link type="text/css"
	href="../../resources/bower_components/metisMenu/dist/metisMenu.min.css"
	rel="stylesheet"
	data-th-href="@{/resources/bower_components/metisMenu/dist/metisMenu.min.css}" />

<!-- Custom CSS -->
<link type="text/css" href="../../resources/dist/css/sb-admin-2.css"
	rel="stylesheet" data-th-href="@{/resources/dist/css/sb-admin-2.css}" />

<!-- Custom Fonts -->
<link
	href="../../resources/bower_components/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css"
	data-th-href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}" />

<title>VIAJES</title>
</head>
<body class="container">
	<h1>ANEXO III - MEMORIA JUSTIFICATIVA – ORDEN DE PAGO</h1>
		
	<div class="panel panel-default">
				<div class="panel-heading">
					<p class="panel-title">Introduzca valores Viaje</p>
				</div>
				
				<div class="panel-body">
				
					<form class="form-horizontal" role="form" action="#"
						th:action="@{'/proyecto/{idProyecto}/viajes'  (idProyecto=*{proyecto.id})}"
						th:object="${viaje}" method="POST">
						
						<div class="form-group" th:classappend="${#fields.hasErrors('fecha')} ? has-error">
						 <label class="control-label col-md-2" for="fecha">Fecha:</label>
							 <div class="col-md-2">
								<input class="form-control" th:field="*{fecha}" type="date" />
								<span class="help-block" th:errors="*{fecha}">[errors]</span>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('numOrden')} ? has-error">
						<label class="control-label col-md-2" for="numOrden">Num Orden:</label>
							<div class="col-md-10">
							<input class="form-control" th:field="*{numOrden}" type="text" />
							<span class="help-block" th:errors="*{numOrden}">[errors]</span>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-md-2" for=" proyecto.numContabilidad">Nº Contabilidad</label>
							<div class="col-md-10">
								<input class="form-control" th:field="*{proyecto.numContabilidad}" type="text"readonly="readonly" />
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<p class="panel-title">Datos Investigador Principal</p>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label class="control-label col-md-2" for="user.nombre">Nombre</label>
									<div class="col-md-10">
										<input class="form-control" th:field="${user.nombre}" type="text"readonly="readonly" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label col-md-2" for="user.apellidos">Apellidos</label>
									<div class="col-md-10">
										<input class="form-control" th:field="${user.apellidos}" type="text" readonly="readonly"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label col-md-2" for="proyecto.investigadorPrincipal.departamento">Departamento</label>
									<div class="col-md-10">
										<input class="form-control" th:value="*{proyecto.investigadorPrincipal.departamento}" type="text"readonly="readonly" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-2" for="proyecto.investigadorPrincipal.centro">Centro</label>
									<div class="col-md-10">
										<input class="form-control" th:value="*{proyecto.investigadorPrincipal.centro}" type="text" readonly="readonly"/>
									</div>								
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<p class="panel-title">JUSTIFICACION PARA VIAJES </p>
							</div>
							<div class="panel-body">
								
								<div class="form-group">
										<label class="control-label col-md-2" for="">Nombre y apellidos:</label>
										<div class="col-md-10">
											<input class="form-control" th:value="*{proyecto.investigadorPrincipal.centro}" type="text" />
										</div>								
								</div>
								
								<div class="form-group">
										<label class="control-label col-md-2" for="relacion">Relacion con el contrato:</label>
																														
										<div class="radio"  >
											<label> <input  type="radio" value="a" name="relacion">Miembro del
													proyecto</label>
										</div>
											<div class="radio">
												<label><input  type="radio" value="b" name="relacion">Profesor
													invitado</label>
											</div>							
								</div>
								
								<div class="form-group">
										<label class="control-label col-md-2" for="objetoDesplazamiento">Objeto del desplazamiento:</label>
										<div class="col-md-10">
											<textarea class="form-control" th:field="*{objetoDesplazamiento}" > </textarea>
										</div>								
								</div>
																
								<div class="form-group">
										<label class="control-label col-md-2" for="itinerario">Itinerario:</label>
										<div class="col-md-10">
											<input class="form-control" th:field="*{itinerario}" type="text"  />
										</div>								
								</div>
								
								<div class="form-group">
										<label class="control-label col-md-2">Fecha Salida:</label>
										<div class="col-md-2">
											<input type="date" class="form-control" th:field="*{fechaInicio}" placeholder="Fecha Salida"/>
										</div>
								</div>	
								
								<div class="form-group">
										<label class="control-label col-md-2">Fechas LLegada:</label>
										<div class="col-md-2">
											<input type="date" class="form-control" th:field="*{fechaFin}" placeholder="Fecha Llegada" />
										</div>
								</div>																	
							</div>
						</div>
							
							<div class="panel panel-default">
							<div class="panel-heading">
								<p class="panel-title">JUSTIFICACION DE GASTOS  </p>
							</div>
							
						</div>
						
						
						
						
						
					</form>
						
				
				</div>
				
				
	</div>
	
	
	

</body>
</html>